/* React Grid Layout Styles */
/* Basic grid layout styles for the grid system */

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
  z-index: 1;
}

.react-grid-item:hover {
  z-index: 2;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI2IiBmaWxsPSIjYWFiZmY3IiBjbGFzcz0iYmkgYi1ncmliLXZlcnRpY2FsIiB2aWV3Qm94PSIwIDAgNiA2Ij4KIDxwYXRoIGQ9Im0wIDEgMiAxIDYgNXptMSA0IDQtNHoiLz4KPC9zdmc+') no-repeat;
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: nw-resize;
}

.react-grid-item > .react-resizable-handle-se {
  cursor: nw-resize;
  width: 15px;
  height: 15px;
  right: 0;
  bottom: 0;
}

.react-grid-item > .react-resizable-handle-sw {
  cursor: ne-resize;
  width: 15px;
  height: 15px;
  left: 0;
  bottom: 0;
}

.react-grid-item > .react-resizable-handle-ne {
  cursor: sw-resize;
  width: 15px;
  height: 15px;
  right: 0;
  top: 0;
}

.react-grid-item > .react-resizable-handle-nw {
  cursor: se-resize;
  width: 15px;
  height: 15px;
  left: 0;
  top: 0;
}

.react-grid-item > .react-resizable-handle-w,
.react-grid-item > .react-resizable-handle-e {
  width: 15px;
  top: 50%;
  margin-top: -7.5px;
  cursor: ew-resize;
}

.react-grid-item > .react-resizable-handle-sw {
  left: 0;
}

.react-grid-item > .react-resizable-handle-e {
  right: 0;
}

.react-grid-item > .react-resizable-handle-n,
.react-grid-item > .react-resizable-handle-s {
  height: 15px;
  left: 50%;
  margin-left: -7.5px;
  cursor: ns-resize;
}

.react-grid-item > .react-resizable-handle-n {
  top: 0;
}

.react-grid-item > .react-resizable-handle-s {
  bottom: 0;
}

.react-grid-item.react-grid-item-static {
  cursor: default;
}

.react-grid-item.react-grid-item-static > .react-resizable-handle {
  display: none;
}

/* Animation support */
.react-grid-mockup {
  background: #ccc;
  opacity: 0.6;
}

/* Responsive breakpoints */
@media (max-width: 768px) {
  .react-grid-item > .react-resizable-handle {
    width: 12px;
    height: 12px;
    padding: 0 2px 2px 0;
  }
}

@media (max-width: 480px) {
  .react-grid-item > .react-resizable-handle {
    width: 10px;
    height: 10px;
    padding: 0 1px 1px 0;
  }
}
